<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>EnergiserEA.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,216},{64,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,59}</string>
			</dict>
			<key>EnergiserEB.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,76},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>EnergiserLA.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,217},{64,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,59}</string>
			</dict>
			<key>EnergiserLB.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,84},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>TennisOrb.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,464},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>TennisOrbB.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,384},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>TennisOrbC.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,384},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>TennisThingA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,414},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>TennisThingB.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,285},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>TennisThingC.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,327},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>TennisThingD.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,220},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>ZogoA.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,278},{60,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,52}</string>
			</dict>
			<key>ZogoB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>ZogoC.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>BioSnailB.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,240},{43,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,68}</string>
			</dict>
			<key>BioSnailC.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,80},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>BioSnailD.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,143},{76,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,71}</string>
			</dict>
			<key>BulbShipA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{48,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>BulbShipB.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,234},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>BulbShipC.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,277},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>ClorbShipA.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,401},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,61}</string>
			</dict>
			<key>ClorbShipB.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,285},{38,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,65}</string>
			</dict>
			<key>ClorbShipC.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,281},{44,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,69}</string>
			</dict>
			<key>FleaPodA.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,447},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>FleaPodB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,464},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>FleaPodC.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,393},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>FleaPodD.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,376},{40,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,53}</string>
			</dict>
			<key>FleaTie.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,170},{47,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,34}</string>
			</dict>
			<key>FleaTieB.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,405},{47,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,40}</string>
			</dict>
			<key>FleaTieD.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,299},{48,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,54}</string>
			</dict>
			<key>FleaWing.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,440},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>FleaWingSwingA.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,396},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>FleaWingSwingB.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,380},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>FleaWingSwingC.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,331},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>FleaWingSwingD.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,346},{54,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,48}</string>
			</dict>
			<key>HoofDroneA.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,349},{42,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,51}</string>
			</dict>
			<key>HoofDroneB.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,332},{42,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,51}</string>
			</dict>
			<key>PincerDrone.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,327},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>PincerDroneB.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,379},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>TieFighterA.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,352},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,48}</string>
			</dict>
			<key>TieFighterB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>TieFighterC.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{56,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,51}</string>
			</dict>
			<key>TieFighterD.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,234},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>TrilobyteA.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,294},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>TrilobyteB.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,340},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,59}</string>
			</dict>
			<key>TrilobyteC.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,155},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>
			<key>TrilobyteD.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,155},{60,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>
			<key>WaspB.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,78},{92,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,63}</string>
			</dict>
			<key>WaspC.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,170},{68,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,78}</string>
			</dict>
			<key>WaspD.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,162},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>WaspXA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>WaspXB.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1},{94,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,81}</string>
			</dict>
			<key>WaspXC.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{104,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>
			<key>WaspXD.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1},{101,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,75}</string>
			</dict>
			<key>WaspZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{105,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EnemySpriteEditor.png</string>
			<key>realTextureFileName</key>
			<string>EnemySpriteEditor.png</string>
			<key>size</key>
			<string>{500,508}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>508</integer>
		</dict>
	</dict>
</plist>