<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,2},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>GoldBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{18,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,31}</string>
			</dict>
			<key>GoldCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,22},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>SilverCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,22},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SingleItem.png</string>
			<key>realTextureFileName</key>
			<string>SingleItem.png</string>
			<key>size</key>
			<string>{54,36}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>36</integer>
		</dict>
	</dict>
</plist>